<div class="col-xs-10 col-xs-offset-1">
  <h1>About /MCHL_WRRN</h1>

  <p>
    /MCHL_WRRN is the web development autonym of me,<a target="_blank" href="http://linkedin.com/in/mdwarren"> Michael Warren</a>. I am a lifelong technology hobbyist that decided in 2014 to pursue a solid foundation in prominent web technologies including Ruby on Rails, which is my primary framework of choice.
  </p>
  <p>
    From my first static website built with HTML 4.0 and hosted on Tripod in 1998, to Wordpress landing pages and brochure sites, and now on to Rails apps, I've always enjoyed having a presence on the web. Today, I am making that presence known as I pursue personal and professional projects of much greater complexity.
  </p>
  <p>
    If you want to work with me - inquire on the contact page <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Rails.png', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Rails Projects</h2>
    <br />
    <p>
      Are you looking for a Rails app? Check out some of my previous work including WWBS, Nomster, and Moocleus. If you have an idea you would like to talk about, send me a brief message over <%= link_to 'here', contact_path %>.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'Wordpress.png', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Wordpress Projects</h2>
    <br />
    <p>
      Wordpress sites are great for informational pages as well as ecommerce sites using WooCommerce. Some of my Wordpress sites include a personal music blog, Made To Stray, and Glasshouse Stones, an ecommerce site for a gem and mineral business based in Portland. If you have an idea you would like to talk about, send me a brief message over <%= link_to 'here', contact_path %>
    </p>
  </div>

</div>