<div class="col-xs-12 col-sm-4">
  <%= image_tag 'ComingSoon.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2>Projects</h2>
    <br />
    <p>
      Check back soon as the projects page is currently under construction.
    </p>
  </div>
  <br class="clear" />